html, body { background:#333;}
.clock {font-family: 'Orbitron', sans-serif; padding: 30px 15px; font-size: 16px; text-align: center; background: #333;}
.clock > div { border: 2px solid #666; padding: 30px; display:inline-block;margin:0 auto; font-size: 40px; background: #eee;}
